$base_color: #F6F6F6;
$base_color_cont: #222;
$main_color: #4BAAE0;
$main_color2: #4BAAE0;
$main_color-light: #4BAAE0;
$main_color_cont: #F6F6F6;
$main_color_cont2: #222;
$accent_color: #A69463;
$accent_color_cont: #F6F6F6;