@use '../global/' as g;

.p-top-fv {
  height: 80vh;
}

.p-top-fv__image {
  position: absolute;
  left: 0;
  top: 0;
  transition: 300ms;
  opacity: 0;
}
.p-top-fv__image.active {
  opacity: 1;
}

.p-top-fv__owner {
  position: absolute;
  z-index: 10;
  right: 1rem;
  bottom: 1rem;
  @include g.mq('md') {
    right: 3rem;
    bottom: 3rem;
  }
}
.p-top-fv__owner__image {
  border-radius: 50%;
  border: 4px solid g.$main_color2;
  width: 100px;
  height: 100px;
  margin: auto;
  @include g.mq('md') {
    width: 150px;
    height: 150px;
  }
}
.p-top-fv__owner__name {
  text-align: center;
}
.p-top-fv__owner__image img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}