@use '../global/' as g;

.p-top-fv {
  display: flex;
  flex-direction: column-reverse;
  @include g.mq('md') {
    flex-direction: row;
    align-items: center;
  }
}
.p-top-fv__text, .p-top-fv__image {
  padding: 1rem;
  @include g.mq('md') {
    width: 50%;
  }
}
.p-top-fv__image img {
  margin-left: auto;
}