@use '../global/' as g;

.footer {
  padding: 2rem 1rem;
  background: g.$main_color2;
}

.footer__top {
  @include g.mq('md') {
    display: flex;
    justify-content: space-between;
  }
}

.footer__link-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link-list__item {
  padding: .5rem;
}